span {
  display: block;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  /* font-family: "Noto Serif",'Times New Roman', serif; */
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  background-color: #fff;
  color: #000;
}

.header {
  background-image: url("/images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  padding: 0 80px 40px 80px;
}

.nav__logo {
  position: absolute;
  left: 30px;
  top: 30px;
  height: 39px;
  width: 105px;
}

.nav {
  display: flex;
  padding-top: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

.header__title {
  max-width: 709px;
  font-size: 29px;
  margin-top: 183px;
  padding: 25px 0;
  font-weight: 500;
  font-size: 58px;
}

.header__span-accent {
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2F80ED;
  padding-bottom: 25px;
  font-weight: normal;
}

.header__description {
  font-family: "Noto Serif", 'Times New Roman', serif;
  margin-top: 28px;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  color: #838383;
  margin-top: auto;
  bottom: 40px;
  line-height: 20px;
  flex-direction: column;
}

.header__paragraph_address {
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-size: cover;
  padding: 100px 0 0 80px;
  color: #fff;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-item {
  margin-bottom: 215px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  margin-bottom: 24px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9E7FF;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  width: 385px;
  margin-bottom: 120px;
}

.form__label {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 20px;
}

.form__input {
  box-sizing: border-box;
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  background-color: #2f80ed;
  color: #fff;
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 20px;
  border: none;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label-checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 0;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}